[Pyntera]
normal-foreground = #fbfbfb
normal-background = #333333
keyword-foreground = #ffb895
keyword-background = #333333
builtin-foreground = #ff8cc6
builtin-background = #333333
comment-foreground = #a2a2a2
comment-background = #333333
string-foreground = #00b359
string-background = #333333
definition-foreground = #cccc00
definition-background = #333333
hilite-foreground = #000040
hilite-background = #e8e8ff
break-foreground = #f0f0f0
break-background = #002040
hit-foreground = #c0c0c0
hit-background = #000000
error-foreground = #ffffff
error-background = #f5010a
cursor-foreground = #ffffff
stdout-foreground = #00caca
stdout-background = #333333
stderr-foreground = #f5010a
stderr-background = #333333
console-foreground = #ffffff
console-background = #333333
